{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "@stylistic/js"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "@stylistic/js/indent": ["error", 2]
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
